<template>
  <div>
    <div class="container mt-5">
      <div class="row justify-content-sm-center">
        <div class="col-md-6 col-md-offset-3">
          <h1>Latest blocks</h1>
          <button class="btn btn-lg btn-block btn-primary mt-3" @click.prevent="loadMore">Show previous blocks</button>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Height</th>
                <th scope="col">Transactions count</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="block in blocks" :key="block.height" >
                <td><router-link :to="{ name: 'block', params: { height: block.height } }">{{ block.height }}</router-link></td>
                <td>{{ block.tx_count }}</td>
                <td>{{ new Date(block.time).valueOf() }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <spinner :visible="isSpinnerVisible"/>
  </div>
</template>

<script>
  import Spinner from '../components/Spinner.vue'

  module.exports = {
    components: {
      Spinner
    },
    data() {
      return {
        blocks: [],
        isSpinnerVisible: false
      }
    },
    methods: {
      async loadBlocks(latest) {
        if (this.webSocket) {
          this.webSocket.close()
        }

        this.isSpinnerVisible = true

        try {
          const data = await this.$blockchain.getBlocks(latest)
          this.blocks = this.blocks.concat(data.blocks)
          this.isSpinnerVisible = false
          this.webSocket = new WebSocket(`ws://${window.location.host}/api/explorer/v1/blocks/subscribe`)
          this.webSocket.onmessage = this.handleNewBlock
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      loadMore() {
        this.loadBlocks(this.blocks[this.blocks.length - 1].height - 1)
      }
    },
    mounted() {
      this.$nextTick(function() {
        this.loadBlocks()
      })
    }
  }
</script>
