<template>
  <div>
    <div class="container mt-5">
      <div class="row justify-content-sm-center">
        <div class="col-md-6 col-md-offset-3">
          <h2>Verify a log entry</h2>
          <form class="mt-5" @submit.prevent="timestamp">
            <div class="form-group">
              <label class="control-label">Please choose a file or enter some text to start verification.</label>
              <select v-model="selected" class="form-control" @change="hash = ''">
                <option>File</option>
                <option>Text</option>
              </select>
              <small class="form-text text-muted">Uploaded data is only used for hash computation and not stored.</small><br>
              <label v-if="selected == 'File'" class="control-label">File:</label>
              <input v-if="selected == 'File'" type="file" class="form-control-file" @change="processFile">
              <textarea v-if="selected == 'Text'" class="form-control" rows="5" @change="processFile"/>
            </div>
            <div class="form-group">
              <label v-if="hash != false" class="control-label"><br>SHA256 hash:</label><br>
              <code v-html="hash"/>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-info">Verify</button>
          </form>
        </div>
      </div>
    </div>

    <spinner :visible="isSpinnerVisible"/>
  </div>
</template>

<script>
  import Spinner from '../components/Spinner.vue'

  module.exports = {
    components: {
      Spinner
    },
    data() {
      return {
        metadata: '',
        hash: '',
        keyPair: {},
        isSpinnerVisible: false,
        selected: 'File'
      }
    },
    methods: {
      async processFile(event) {
        this.isSpinnerVisible = true

        try {
            if(this.selected == 'File') {
                this.hash = await this.$crypto.getHash(event.target.files[0])
            }
            else{
                this.hash = await this.$crypto.getTextHash(event.target.value)
            }
          this.isSpinnerVisible = false
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async timestamp() {
        this.isSpinnerVisible = true

        this.keyPair = this.$blockchain.generateKeyPair()

        try {
          await this.$blockchain.createTimestamp(this.keyPair, this.hash, this.metadata)
          this.isSpinnerVisible = false
          this.$nextTick(function() {
            this.$router.push({ name: 'timestamp', params: { hash: this.hash } })
          })
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      }
    }
  }
</script>
