<template>
  <div>
    <div class="container mt-5">
      <div class="row justify-content-sm-center">
        <div class="col-md-7 col-md-offset-3">
          <h1>Node status</h1>
          <ul class="list-group mt-5">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-7"><strong>Outstanding transactions:</strong></div>
                <div class="col-sm-4 text-right">
                  {{ mempool }}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-7"><strong>Current block height:</strong></div>
                <div class="col-sm-4 text-right">
                  <template v-if="blocks[0]">
                    <router-link :to="{ name: 'block', params: { height: blocks[0].height } }">{{ blocks[0].height }}</router-link>
                  </template>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-7"><strong>Transactions processed in the last minute:</strong></div>
                <div class="col-sm-4 text-right">
                  {{ tx_count }}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-7"><strong>Transactions per second:</strong></div>
                <div class="col-sm-4 text-right">
                  {{ (tx_count / 60).toFixed(2) }}
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-7"><strong>Active validators:</strong></div>
                <div class="col-sm-4 text-right break-word">
                  {{ validators }}
                </div>
              </div>
            </li>
          </ul>

          <form class="mt-5">
            <div class="form-group">
              <label>Refresh interval (seconds)</label>
              <input v-model="interval" type="number" class="form-control" @change="setTimer()">
            </div>
          </form>
          <form class="mt-5" @submit.prevent="loadData">
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Refresh</button>
          </form>
        </div>
      </div>
    </div>

    <spinner :visible="isSpinnerVisible"/>
  </div>
</template>

<script>
import Spinner from "../components/Spinner.vue";

module.exports = {
  components: {
    Spinner
  },
  data() {
    return {
      timer: null,
      interval: 15,
      mempool: 0,
      tx_count: 0,
      validators: 1,
      blocks: [],
      isSpinnerVisible: false,
      sentRequest:false
    };
  },
  methods: {
    async loadData(latest) {
      this.isSpinnerVisible = true;

      try {
        var data = await this.$blockchain.getBlocks(latest);
        this.blocks = data.blocks;

        /*var data = await this.$blockchain.getBlock(this.blocks[this.blocks.length - 1].height)
              while(data.precommits[0].body.time.secs > Math.floor(new Date() / 1000) - 60000){
                  this.loadMore()
                  var data = await this.$blockchain.getBlock(this.blocks[this.blocks.length - 1].height)
                  if(this.blocks[this.blocks.length - 1].height == 1)
                      break
              }*/
        var tx_count = 0;
        for (var i = 0; i < this.blocks.length; i++) {
          var data = await this.$blockchain.getBlock(this.blocks[i].height);
          //if (data.precommits == null) break;
          if (
            new Date(data.time).valueOf() >
            new Date().valueOf() - 60000
          ) {
            tx_count += this.blocks[i].tx_count;
          } else break;
        }
        this.tx_count = tx_count;

        data = await this.$blockchain.getHealth();
        if (data.consensus_status == "Active") {
          this.validators = 1 + data.connected_peers;
        } else {
          this.validators = 1;
        }

        data = await this.$blockchain.getMempool();
        this.mempool = data.tx_pool_size;

        this.isSpinnerVisible = false;
      } catch (error) {
        this.isSpinnerVisible = false;
        this.$notify("error", error.toString());
      }
    },

    async loadMore() {
      this.isSpinnerVisible = true;

      try {
        var data = await this.$blockchain.getBlocks(
          this.blocks[this.blocks.length - 1].height - 1
        );
        this.blocks = this.blocks.concat(data.blocks);
      } catch (error) {
        this.isSpinnerVisible = false;
        this.$notify("error", error.toString());
      }
    },

    setTimer() {
      if (this.interval < 2) {
        this.interval = 2;
      }
      clearInterval(this.timer);
      setInterval(
        function() {
          this.loadData();
        }.bind(this),
        this.interval * 1000
      );
    },

    updateCounter() {
      this.counter = this.counter - 1;
    },
    leaving(){
      if(!this.sentRequest){
        clearInterval(this.timer);
        this.sentRequest = true;
      }
      return null;
    },
  },
  mounted() {
    this.$nextTick(function() {
      this.loadData();
    });

    window.onbeforeunload = this.leaving;
    this.timer = setInterval(
      function() {
        this.loadData();
      }.bind(this),
      this.interval * 1000
    );
  }
};
</script>
